/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    body {
	font-family: Helvetica;
}

h1, h5 {
	display: inline;
}

p {
	margin-top: 12px;
}
container:nth-of-type(1) {
	padding-bottom: 24px;
}

page-header{
	padding-bottom:17px;margin:18px 0;
	border: white 2px solid;
}

progress-bar{
	background-color: green;
}