<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset2">
        <h1>Users:</h1>
        <ul>
<% @scientists.each do |scientist|%>
          <li>
            <%=scientist.name%> - 
            <a href="/templated_user_page/<%=scientist.id%>">show</a> |
            <a href="/templated_user_page/<%=scientist.id%>/edit">edit</a> |
            <a href="/templated_user_page/<%=scientist.id%>/delete">delete</a> 
          </li>
<% end %>
        </ul>
      </div>
    </div>
  </div>