<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
      <h2>New Scientist</h2>
      <form action="/create_scientist">
        <div class="input-group">
          <input type="text" class="form-control" name="caption" placeholder="caption" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="photo" placeholder="photo" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="name" placeholder="name" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="year" placeholder="year" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="description" placeholder="description" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="location" placeholder="location" aria-describedby="basic-addon1">
          <input type="text" class="form-control" name="value" placeholder="value" aria-describedby="basic-addon1">
          <input type = "submit" class="form-control" aria-describedby="basic-addon1">
        </div>  
      </form>
    </div>
  </div>
</div>
