<!DOCTYPE html>
<html>
<head>
  <title>TemplatedUserPage</title>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="page-header">
          <h1>Most awesome app</h1>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
<%= yield %>

</body>
</html>
